.container_card-shop {
  max-width: 1470px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.card-shop{
  width: fit-content;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 15px;
  height : 505px;
}

.card-shop img {
  width: 100%;
  object-fit: none;
  transition: 0.5s;
  height: 100%;
  z-index: 0;
}

.card-shop:hover img {
  transform: scale(1.1, 1.1);
}

.card-shop_text {
  position: absolute;
  z-index: 1;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}

.card-shop_text .card-shop_title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 10px;
  color: var(--cta-07);
}

.card-shop_text a {
  color: var(--cta-08);
}

.card-shop_text .card-shop_action {
  border-bottom: 2px solid var(--cta-09);
  width: fit-content;
  margin: auto;
  padding-bottom: 5px;
  font-size: 0.9em;
  font-weight: 600;
}

.card-shop_text .card-shop_action:hover {
  border-color: var(--ctb-09);
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {

  .card-shop:last-child {
    display: none;
  }

}

@media screen and (max-width: 767px) {
  .container_card-shop {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .card-shop {
    width: 100%;
    height: 400px;
  }

  .card-shop_text {
    bottom: 30px;
  }

  .card-shop:last-child {
    display: block;
  }
}