.status-error{
    text-align: center;

}
.status-error> h1{
    font-size: 12.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 18.75rem;
    font-family: var(--f-poppins);
}
.status-error> h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.625rem;
    font-family: var(--f-poppins);
}
.status-error> span {
    color: var(--cta-06);
    font-size: 0.875rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-family: var(--f-poppins);
}
@media only screen and (max-width: 767px){
    .status-error> h1{
        font-size: 3.8rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
        line-height: 5.7rem;
    }
}