.action-link {
  padding: 1.5rem 0;
  width: 100%;
  background: var(--cta-02);
  text-align: center;
  font-family: var(--f-monts);
  font-weight: 600;
  font-size: 12px;
}

.action-link .action-content {
  font-family: var(--f-monts);
  color: var(--cta-10);
}

.action-link .action-icon {
  margin-right: 10px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .action-link .action-icon {
    display: none;
  }
}