.checkout-card-product {
    display: flex;
    justify-content: space-between;
}
.checkout-card-product .product-info-container {
    display: flex;
}
.checkout-card-product .product-info-container .img-product {
    margin-right: 0.625rem;
    width: 60px;
    border: 1px solid var(--cta-03);
}
.product-info-container .img-product img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.checkout-card-product .product-info-container .product-info .product-item-name{
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.3125rem;
}
.product-info-container .product-info .product-quantity {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    display: inline-block;
}
.material .material-color,.material .material-pattern, .material .material-size {
    font-size: 0.8125rem;
    font-weight: 400;
    margin: 0 0.203125rem 0 0.375rem;
    font-family: var(--f-poppins);
    color: var(--cta-05);
    line-height: 1.3125rem;
}
.checkout-card-product .material {
    display: flex;
    flex-wrap: wrap;
}
.material .value-color, .material .value-pattern, .material .value-size{
    font-size: 0.8125rem;
    font-weight: 400;
    font-family: var(--f-poppins);
    color: var(--cta-05);
    line-height: 1.3125rem;
}
.material .material-color {
    margin-left: 0;
}
.material > span:nth-child(2n+1):after {
    content: ":";
    color: var(--cta-05);
}
.checkout-card-product  .product-total-cost .total-cost {
    font-size: 0.9375rem;
    font-weight: 400;
    font-family: var(--f-poppins);
    margin-right: 0.6em;
}
@media only screen and (max-width: 575px) {
    .checkout-card-product .product-info-container .product-info .product-item-name{
        display: block;
        max-width: 155px;
    }
    .checkout-card-product .product-info-container .img-product {
        margin-right: 0.9375rem;
        width: 46px;
        height: max-content;
    }
}