.card-price {
    line-height: 1.05rem;
    font-family: var(--f-poppins);
    margin-bottom: 2px;
}
.card-price .current-price{
    font-family: var(--f-poppins);
    font-size: 0.875rem;
    margin-right: 0.6em;
    line-height: 1.05rem;
}
.card-price .cost {
    font-size: 0.875rem;
    position: relative;
    background-color: transparent;
    font-family: var(--f-poppins);
    line-height: 1.05rem;
}
.cl-text-price {
    color: var(--cta-06);
}
.card-price .cost:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--cta-06);
    top: 50%;
    transform: translateY(-50%);
}
@media only screen and (max-width: 767px) {
    .card-price {
        line-height: 1rem;
    }
}