#contact-content {
  max-width: 1470px;
  margin: 10rem auto;
}

#contact-content .row {
  margin: 0;
}

@media screen and (max-width: 767px) {
  #contact-content .row {
    flex-direction: column-reverse;
  }
}